<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div id="header">
                <!-- Logo -->
                <h1>Bienvenido(a)</h1>
                <h2>Ingresa a continuaci칩n tus datos</h2>
            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">

                <!--Barra de progreso-->
                <div class="checkout-wrap">
                    <ul class="checkout-bar">
                        <li class="active">Datos b치sicos</li>
                        <li>Idiomas</li>
                        <li>Movilidad Solicitada</li>
                        <li>Datos econ칩micos</li>
                        <li>Crear usuario</li>
                    </ul>
                </div>

                <!--Header -->
                <article class="box post">
                    <div class="row">

                        <div class="12u 12u(mobile)">
                            <h2>Datos b치sicos y de contacto</h2>
                        </div>
                    </div>

                    <%= form_tag("nuevoPerfil/2", method: "post") do %>
                        <div class="row">
                            <div class="1u 0u(mobile)">
                            </div>
                            <div class="10u 10u(mobile)">
                                <%= label_tag(:inputNombre, "Nombre completo:") %>
                                <%= text_field_tag(:inputNombre, nil, :placeholder =>"Nombre ApellidoPaterno ApellidoMaterno") %>
                            </div>
                            <div class="1u 0u(mobile)">
                            </div>
                        </div>

                        <!--Submit-->
                        <div class="row">
                            <div class="12u 12u(mobile)" style="text-align:center">
                                <%= button_tag "Siguiente", :class => "btn btn-danger col-sm-offset-2", :type => "submit" %>
                            </div>
                        </div>
                    <% end %>
            </div>
            </article>

        </div>



        
