<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div id="header">
                <img src="/assets/upiita.png" alt="Universidad asignada" />
                <!-- Logo -->
                <h1>Nombre Completo</h1>
                <h2 id="txtEstado">Estado</h2>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="#">Mis datos</a></li>
                        <li><%= link_to "Movilidad","../movilidad/id"%></li>
                        <li><%= link_to "Universidades","../universidades/id"%></li>
                        <li class="current"><%= link_to "Avisos","../avisos/id"%></a></li>
                    </ul>
                </nav>

            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <input id="txtAvisos" value="Avisos importantes para tí:" type="text" autofocus readonly />
            </div>
        </div>
