<body class="right-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div id="header">
                <!-- Logo -->
                <h1>Nombre Completo</h1>
                <h2 id="txtEstado">Coach</h2>
            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u 12u(mobile)">


                        <article class="box post">
                            <h3>¡Bienvenido Coach! Ellos son tus asesorados. Ponte en contacto con ellos para guiar su postulación resolviendo sus dudas y supervisando su progreso. Para conocer el estado de un estudiante, haz click sobre su nombre en la siguiente lista: </h3>
                            <hr></hr>
                            <form style="text-align:center">
                                <ul class=actions>
                                    <li>
                                        <select id="selectAsesorado" name="selectAsesorado">
                                            <option value="">Seleccione un asesorado</option>
                                            <option value="">Lorem ipsum</option>
                                            <option value="">Lorem ipsum</option>
                                            <option value="">Lorem ipsum</option>
                                            <option value="">Lorem ipsum</option>
                                        </select>
                                    </li>
                                </ul>
                            </form>
                        </article>

                        <!--Datos generales-->
                        <article class="box post">
                            <section>
                                <section>
                                    <header>
                                        <h2>Datos Generales</h2>
                                    </header>
                                    <form class="cuadroSeleccion" style="text-align:center; width:70%;">
                                        <!--Datos generales-->
                                        <p id="tagCarrera">Carrera:Lorem Ipsum</p>
                                        <p id="tagPromedio">Promedio:9.99</p>
                                        <p id="tagCreditos">% de créditos: 99%</p>
                                        <p id="tagTelefono">Teléfono: Lorem Ipsum</p>
                                        <ul class="actions">
                                            <li>
                                                <a href="#"><img src="assets/css/images/fbIcon.png"></img>
                                                </a>
                                                <a href="#"><img src="assets/css/images/gdriveIcon.png"></img>
                                                </a>
                                            </li>
                                        </ul>
                                        <br>
                                        <h3>Idiomas</h3>
                                        <table class="default" id="materias">
                                            <tr>
                                                <td>Nombre</td>
                                                <td>Nivel</td>
                                                <td>Certificado</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>Lorem Ipsum</td>
                                                <td>Lorem Ipsum</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>Lorem Ipsum</td>
                                                <td>Lorem Ipsum</td>
                                            </tr>
                                        </table>

                                        <!--Materias-->
                                        <h3>Materias que desea tomar al volver</h3>
                                        <table class="default" id="materiasVolver">
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>Lorem Ipsum</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>Lorem Ipsum</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum</td>
                                                <td>Lorem Ipsum</td>
                                            </tr>
                                        </table>

                                    </form>
                                </section>
                        </article>


                        <!--Datos de movilidad-->
                        <article class="box post">
                            <section>
                                <section>
                                    <header>
                                        <h2>Datos de Movilidad</h2>
                                        <h3>Estado: Lorem ipsum</h3>
                                    </header>
                                    <form class="cuadroSeleccion" style="text-align:center; width:70%;">

                                        <!--Estado de aspirante-->
                                        <div id="estadoAspirante">
                                            <h3>Universidades de postulación</h3>
                                            <table class="default" id="univPostulacion">
                                                <tr>
                                                    <td>Universidad</td>
                                                    <td>País</td>
                                                </tr>
                                                <tr>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                                <tr>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                                <tr>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                            </table>
                                        </div>

                                        <!--Estado de movilidad-->
                                        <div id="estadoAspirante">
                                            <br>
                                            <img id="banderaPostulacion" src="assets/css/images/upiita.png" alt="Universidad asignada" />
                                            <br>
                                            <h2>Nombre de la Universidad</h2>
                                            <br>
                                            <h3>Materias de movilidad</h3>
                                            <table class="default" id="materiasVolver">
                                                <tr>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                                <tr>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                                <tr>
                                                    <td>Lorem Ipsum</td>
                                                    <td>Lorem Ipsum</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </section>
                        </article>



                    </div>
                </div>
            </div>
        </div>
