<body class="right-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div id="header">
                <img id="banderaPostulacion" src="assets/css/images/upiita.png" alt="Universidad asignada" />
                <!-- Logo -->
                <h1>Nombre Completo</h1>
                <h2 id="txtEstado">Estado</h2>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="misdatos.html">Mis datos</a></li>
                        <li class="current"><a href="#">Movilidad</a></li>
                        <li><a href="Universidades.html">Universidades</a></li>
                        <li><a href="Avisos.html">Avisos</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="8u 12u(mobile)">

                        <!-- Cambio de postulación -->
                        <article class="box post" id="postulacion">
                            <header>
                                <h3>¿Deseas cambiar tu postulación?</h3>
                                <p>Ingresa las 3 universidades de tu preferencia.</br>
                                    Puedes cambiar tu postulación hasta la fecha de registro con CCA.</br>
                                    </br>
                                    TOMA EN CUENTA LOS <a href="Universidades.html" target="_blank">REQUISITOS DE CADA UNIVERSIDAD</a>. No olvides actualizar tu <a href="http://www.cca.ipn.mx/IntercambioEstudiantes/movilidad-nacional/Documents/formatos/CCA01_2015-1.pdf" target="_blank">formato CCA01</a>.
                                </p>
                            </header>

                            <section>
                                <form class="cuadroSeleccion">
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">1</p>
                                        </li>
                                        <li>
                                            <select id="selectPaisUno" name="selectPaisUno">
                                                <option value="">País</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                        <li>
                                            <select id="selectUniversidadUno" name="selectUniversidadUno">
                                                <option value="">Universidad</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">2</p>
                                        </li>
                                        <li>
                                            <select id="selectPaisDos" name="selectPaisDos">
                                                <option value="">País</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                        <li>
                                            <select id="selectUniversidadDos" name="selectUniversidadDos">
                                                <option value="">Universidad</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">3</p>
                                        </li>
                                        <li>
                                            <select id="selectPaisTres" name="selectPaisTres">
                                                <option value="">País</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                        <li>
                                            <select id="selectUniversidadTres" name="selectUniversidadTres">
                                                <option value="">Universidad</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <input type="button" id="submitPostulacion" class="btnSubmit" value="Guardar cambios" />
                                        </li>
                                    </ul>
                                </form>
                            </section>
                        </article>

                        <!--Coach-->
                        <article class="box post" id=infoCoach>
                            <section class="container">
                                <header>
                                    <h2>Tu coach</h2>
                                </header>
                                <ul class="dates">
                                    <li>
                                        <span class="date"></span>
                                        <h3><a href="#" id="coachFB">Lorem ipsum [Presiona para consultar su FB]</a></h3>
                                        <a href="#" id="coachMail">correo@ejemplo.com</a>
                                        <p id="coachTelefono">Teléfono: 9999999999</p>
                                    </li>
                                    <p>Te recomendamos ponerte en contacto con tu coach para resolver dudas y preparar tu movilidad</br> de la mejor forma posible</p>
                                </ul>
                            </section>
                        </article>


                        <!--Materias al volver-->
                        <article class="box post" id=materiasRegreso>
                            <section>
                                <header>
                                    <h3>Ingresa las materias que te gustaría cursar al volver a la UPIITA</h3>
                                </header>
                                <p>No es necesario llenar todas las opciones.</p>
                                <form class="cuadroSeleccion">
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">1</p>
                                        </li>
                                        <li>
                                            <select id="selectMateria1" name="selectMateria1">
                                                <option value="" disabled selected>Materia</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                        <li>
                                            <p class="numOpc2">2</p>
                                        </li>
                                        <li>
                                            <select id="selectMateria2" name="selectMateria2">
                                                <option value="" disabled selected>Materia</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">3</p>
                                        </li>
                                        <li>
                                            <select id="selectMateria3" name="selectMateria3">
                                                <option value="" disabled selected>Materia</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                        <li>
                                            <p class="numOpc2">4</p>
                                        </li>
                                        <li>
                                            <select id="selectMateria4" name="selectMateria4">
                                                <option value="" disabled selected>Materia</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">5</p>
                                        </li>
                                        <li>
                                            <select id="selectMateria5" name="selectMateria5">
                                                <option value="" disabled selected>Materia</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                        <li>
                                            <p class="numOpc2">6</p>
                                        </li>
                                        <li>
                                            <select id="selectMateria6" name="selectMateria6">
                                                <option value="" disabled selected>Materia</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">7</p>
                                        </li>
                                        <li>
                                            <select id="selectMateria7" name="selectMateria7">
                                                <option value="" disabled selected>Materia</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                        <li>
                                            <p class="numOpc2">8</p>
                                        </li>
                                        <li>
                                            <select id="selectMateria8" name="selectMateria8">
                                                <option value="" disabled selected>Materia</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                                <option value="">Lorem ipsum</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <input type="button" id="submitMateriasRegreso" class="btnSubmit" value="Guardar" />
                                        </li>
                                    </ul>
                                </form>
                            </section>
                        </article>


                        <!--Materias de allá-->
                        <article class="box post" id=materiasMovilidad>
                            <section>
                                <header>
                                    <h3>Ingresa LAS MATERIAS Y TEMARIOS A CURSAR EN TU MOVILIDAD</h3>
                                    <p>No olvides consultar el sitio web de cada universidad para conocer disponibilidad y otros detalles, además de actualizar tu <a href="http://www.cca.ipn.mx/IntercambioEstudiantes/movilidad-nacional/Documents/formatos/CCA07_20151_2_vers1.pdf" target="_blank">formato CCA07</a></p>
                                </header>
                                <p>No es necesario llenar todas las opciones.</p>
                                <form class="cuadroSeleccion" style="text-align:center">
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">1</p>
                                        </li>
                                        <li>
                                            <input type="text" id="txtMateria1" name="txtMateria1" placeholder="Nombre de la materia" />
                                            <input type="file" id="fileMateria1" name="fileMateria1" class="button alt" />
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">2</p>
                                        </li>
                                        <li>
                                            <input type="text" id="txtMateria2" name="txtMateria2" placeholder="Nombre de la materia" />
                                            <input type="file" id="fileMateria2" name="fileMateria2" class="button alt" />
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">3</p>
                                        </li>
                                        <li>

                                            <input type="text" id="txtMateria3" name="txtMateria3" placeholder="Nombre de la materia" />
                                            <input type="file" id="fileMateria3" name="fileMateria3" class="button alt" />

                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">4</p>
                                        </li>
                                        <li>
                                            <input type="text" id="txtMateria4" name="txtMateria4" placeholder="Nombre de la materia" />
                                            <input type="file" id="fileMateria4" name="fileMateria4" class="button alt" />
                                    </ul>
                                    <ul class="actions">
                                        </li>
                                        <li>
                                            <p class="numOpc2">5</p>
                                        </li>
                                        <li>
                                            <input type="text" id="txtMateria5" name="txtMateria5" placeholder="Nombre de la materia" />
                                            <input type="file" id="fileMateria5" name="fileMateria5" class="button alt" />
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <input type="button" id="submitMateriasMovilidad" class="btnSubmit" value="Cargar" />
                                        </li>
                                    </ul>
                                </form>
                            </section>
                        </article>


                        <!--Vuelo redondo-->
                        <article class="box post" id=vueloRedondo>
                            <section>
                                <header>
                                    <h3>Ingresa las fechas de tu vuelo redondo</h3>
                                </header>
                                <form class="cuadroSeleccion" style="text-align:center">
                                    <ul class="actions">
                                        <li>
                                            <p class="label">Fecha de Ida:</p>
                                            <input type="date" id="dateVueloIda" name="dateVueloIda" />
                                        </li>
                                        <li>
                                            <p class="label">Fecha de Regreso:</p>
                                            <input type="date" id="dateVueloVuelta" name="dateVueloVuelta" />
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <input type="button" id="submitVuelo" class="btnSubmit" value="Registrar" />
                                        </li>
                                    </ul>
                                </form>
                            </section>
                        </article>


                        <!--Fotografía en la universidad-->
                        <article class="box post" id=fotoUniversidad>
                            <section>
                                <header>
                                    <h3>Sube una fotografía tuya en la universidad</h3>
                                </header>
                                <form class="cuadroSeleccion" style="text-align:center">
                                    <ul class="actions">
                                        <li>
                                            <input type="file" id="fileFoto" name="fileFoto" class="button alt" />
                                        </li>
                                    </ul>
                                    </br>
                                    <ul class="actions">
                                        <li>
                                            <a href="#" class="image featured" id="imgFoto" name="imgFoto"><img src="assets/css/images/noUniv.png" alt="" /></a>
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <input type="button" id="submitFoto" class="btnSubmit" value="Subir" />
                                        </li>
                                    </ul>
                                </form>
                            </section>
                        </article>


                        <!--Calificaciones de materias de movilidad-->
                        <article class="box post" id=califMovilidad>
                            <section>
                                <header>
                                    <h3>Ingresa las calificaciones finales obtenidas en tus materias de movilidad</h3>
                                </header>
                                <p>Estas calificaciones deben coincidir con la boleta oficial emitida por tu universidad. Si alguna materia cambió y no la actualizaste, escribe 0</p>
                                <form class="cuadroSeleccion">
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">1</p>
                                        </li>
                                        <li>
                                            <p class="label">Materia 1</p>
                                            <input type="number" id="calificacion1" name="calificacion1" placeholder="Calificación" />
                                        </li>
                                        <li>
                                            <p class="numOpc2">2</p>
                                        </li>
                                        <li>
                                            <p class="label">Materia 2</p>
                                            <input type="number" id="calificacion2" name="calificacion2" placeholder="Calificación" />
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">3</p>
                                        </li>
                                        <li>
                                            <p class="label">Materia 3</p>
                                            <input type="number" id="calificacion3" name="calificacion3" placeholder="Calificación" />
                                        </li>
                                        <li>
                                            <p class="numOpc2">4</p>
                                        </li>
                                        <li>
                                            <p class="label">Materia 4</p>
                                            <input type="number" id="calificacion4" name="calificacion4" placeholder="Calificación" />
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <p class="numOpc2">5</p>
                                        </li>
                                        <li>
                                            <p class="label">Materia 5</p>
                                            <input type="number" id="calificacion5" name="calificacion5" placeholder="Calificación" />
                                        </li>
                                        <li>
                                            <p class="numOpc2">6</p>
                                        </li>
                                        <li>
                                            <p class="label">Materia 6</p>
                                            <input type="number" id="calificacion6" name="calificacion6" placeholder="Calificación" />
                                        </li>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <input type="button" id="submitCalificaciones" class="btnSubmit" value="Guardar" />
                                        </li>
                                    </ul>
                                </form>
                            </section>
                        </article>


                    </div>




                    <div class="4u 12u(mobile)">

                        <!-- Sidebar -->
                        <section class="box" id="boxPostulacion">
                            <header align="center">
                                <h2>Mi Postulación</h2>
                            </header>
                            <p align="center">Estas son tus universidades seleccionadas hasta el momento</p>

                            <ul class="divided" align="center">
                                <li>
                                    <p class="numOpc2">1</p>
                                    <img id="banderaUno" align="center" src="assets/css/images/noUniv.png" alt="Universidad asignada" /></br>
                                    <a id="univUno" href="#">Sin registrar</a>
                                </li>
                                <li>
                                    <p class="numOpc2">2</p>
                                    <img id="banderaDos" align="center" src="assets/css/images/noUniv.png" alt="Universidad asignada" /></br>
                                    <a id="univDos" href="#">Sin registrar</a>
                                </li>
                                <li>
                                    <p class="numOpc2">3</p>
                                    <img id="banderaTres" align="center" src="assets/css/images/noUniv.png" alt="Universidad asignada" /></br>
                                    <a id="univTres" href="#">Sin registrar</a>
                                </li>
                            </ul>
                        </section>

                    </div>
                </div>
            </div>
        </div>

