<body class="right-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div id="header">
                <img id="banderaPostulacion" src="/assets/upiita.png" alt="Universidad asignada" />
                <!-- Logo -->
                <h1>Nombre Completo</h1>
                <h2 id="txtEstado">Estado</h2>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><%= link_to "Mis Datos","../perfil/id"%></li>
                        <li><%= link_to "Movilidad","../movilidad/id"%></li>
                        <li class="current"><%= link_to "Universidades","../universidades/id"%></li>
                        <li><%= link_to "Avisos","../avisos/id"%></a></li>
                    </ul>
                </nav>

            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row">
                    <!-- Sidebar -->
                    <div class="2u 0u(mobile)">
                    </div>
                    <div class="8u 12u(mobile)">
                        <section class="box">

                            <header>
                                <h3>Elige los criterios de tu búsqueda</h3>
                            </header>
                            <form>
                                <table>
                                    <tr>
                                        <select id="comboBuscarPais">
                                            <option disabled selected>Selecciona un PAÍS</option>
                                            <option value="">lorem ipsum</option>
                                            <option value="">lorem ipsum</option>
                                            <option value="">lorem ipsum</option>
                                            <option value="">lorem ipsum</option>
                                        </select>
                                        <br>
                                    </tr>
                                    <tr>
                                        <select id="comboBuscarArear">
                                            <option disabled selected>Selecciona un ÁREA DE ESTUDIO</option>
                                            <option value="">lorem ipsum</option>
                                            <option value="">lorem ipsum</option>
                                            <option value="">lorem ipsum</option>
                                            <option value="">lorem ipsum</option>
                                        </select>
                                    </tr>
                                </table>

                                <!--Submit-->
                                <div class="row">
                                    <div class="12u 12u(mobile)" style="text-align:center">
                                        <button class="btn btn-danger col-sm-offset-2" type="submit">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                    <div class="2u 0u(mobile)">
                    </div>
                </div>

                <!-- Content -->
                <div class="row">
                    <div class="12u 12u(mobile)">
                        <article class="box post">
                            <header>
                                <h2>Catálogo de Universidades</h2>

                            </header>

                            <table id="catalogoUniversidades">
                                <tr>
                                    <th>País</th>
                                    <th>Nombre</th>
                                    <th>Idioma</th>
                                    <th>Programa de Intercambio</th>
                                    <th>Cúpo</th>
                                    <th>Trámites Especiales</th>
                                </tr>

                                <tr>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                </tr>

                                <tr>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                </tr>

                                <tr>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                </tr>

                                <tr>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                </tr>

                                <tr>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                    <td>Lorem ipsum</td>
                                </tr>
                            </table>
                    </div>
                </div>

            </div>
            </article>

        </div>

    </div>
    </div>
    </div>

