<body class="is-loading">

    <!-- Wrapper -->
    <div id="wrapper">

        <div id="bg"></div>

        <!-- Main -->
        <section id="main">
            <header>
                <span class="avatar"><img src="/assets/logoMovilidad.png" alt="Logo Movilidad UPIITA" /></span>
                <h1>Recuperación de cuenta</h1>
            </header>

            <hr />

            <form method="post" action="#">
                <h2>Ingresa tu número de boleta</h2>
                <div class="field">
                    <input type="number" name="boleta" id="boleta" placeholder="Boleta" />
                </div>
                <h2>Ingresa el correo electrónico al cual está asociada tu cuenta</h2>
                <div class="field">
                    <input type="text" name="correo" id="correo" placeholder="direccion@dominio.com" />
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">Enviar mensaje de recuperación</a></li>
                </ul>
            </form>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Departamento de Extensión y Apoyo Educativos. UPIITA - IPN. 2016</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
    <script>
        if ('addEventListener' in window) {
            window.addEventListener('load', function () {
                document.body.className = document.body.className.replace(/\bis-loading\b/, '');
            });
            document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
    </script>

